node_modules/
.env
mobihub.db
mobihub.db-shm
mobihub.db-wal
keystore/
android-motorista/keystore.properties
android-passageiro/keystore.properties

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
*.nav
*.orig
*.swp
*~
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
android-app/build/
android-passageiro/build/
android-motorista/build/
*.apk
MobiHub.apk
!public/MobiHub-Passageiro.apk
!public/MobiHub-Motorista.apk
